<web-app>

    <servlet>
        <servlet-name>miniapi</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>miniapi</servlet-name>
        <url-pattern>/miniapi/*</url-pattern>
    </servlet-mapping>

</web-app>